@charset "UTF-8";
section #btnWriteCom{
 	width:80px;
    border: none;
    color:#fff;;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:10px;
    background-color: #1bcda9;
    font-family: "GmarketSansMedium";
    float : right;
}
section #listbtn {
	height:40px;
	width:80px;
    border: none;
    color:#fff;;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:10px;
    background-color: #1bcda9;
    font-family: "GmarketSansMedium";
    float : right;
}
section #btnchange {
	height:40px;
	width:80px;
    border: none;
    color:#fff;;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:10px;
    background-color: #1bcda9;
    font-family: "GmarketSansMedium";
    float : right;
	
}

.modComment{
    border: none;
    color:#fff;;
    padding : 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
    background-color: #1bcda9;
    font-family: "GmarketSansMedium";
    float:right;
}
.btnCDel{
	border: none;
    color:#fff;;
    padding : 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
    background-color: #1bcda9;
    font-family: "GmarketSansMedium";
    height:33px;
}