    .outline-button {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 2px rgb(223, 237, 255) inset;
    color: black;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 3rem 6rem;
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 100px;
    margin-top: 30px;
    /* background: linear-gradient(to right, #8db8a2, #a1eeee); */
    }
    .outline-button::before, .outline-button::after {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .outline-button::before {
    box-shadow: 2px 2px 0 rgba(85, 173, 255, 0.514) inset;
    bottom: 0;
    left: 0;
    }
    .outline-button::after {
    box-shadow: -2px -2px 0 rgba(85, 173, 255, 0.514) inset;
    top: 0;
    right: 0;
    }
    .outline-button:hover::before, .outline-button:hover::after {
    height: 100%;
    width: 100%;
    transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    /* Extra Junk */
    html {
    box-sizing: border-box;
    font-size: 80%;
    }

    *, ::before, ::after {
    box-sizing: inherit;
    }

    html, body {
    height: 100%;
    }

    body {
    background-color: white(224, 131, 131);
    display: flex;
    font-size: 1.6rem;
    /* width: 100%; */
    }
    .mypage {
        text-align: center;
        width: 100%;
    }
    a {
    	text-decoration: none;
    }