.outline-button {
    appearance: none;
    border: none;
    box-shadow: 0 0 0 2px rgb(223, 237, 255) inset;
    background-color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 100px;
    margin-top: 30px;
    color : gray;
    font: inherit;
    background : #cfefe8;
    }
    .outline-button::before, .outline-button::after {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .outline-button::before {
    box-shadow: 2px 2px 0 #00d9a3 inset;
    bottom: 0;
    left: 0;
    }
    .outline-button::after {
    box-shadow: -2px -2px 0 #00d9a3 inset;
    top: 0;
    right: 0;
    }
    .outline-button:hover::before, .outline-button:hover::after {
    height: 100%;
    width: 100%;
    transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    /* Extra Junk */
    .mypage {
        text-align: center;
        width: 100%;
    }