#hi{
	height: 100%;
}
.click {
	width: 100;
	height: 100;
}

td img {
	vertical-align;
	bottom;
	width: 50%;
	height: 50%
}
.setrimg{
	text-align : center;
}

.btnn {
	valign: top
}

#vid {
	height: 20px;
	font-size: 20;
}

#ed {
	font-size: 20;
	color: rgb(3, 122, 93);
	background-color: #ffff
}

.btn {
	font-size: 20
}

#pan {
	height: 60
}

.btn, button {
	font-family: "GmarketSansMedium";
	cursor: pointer;
	background-color: #57d2b4;
	border: 0;
	outline: 0;
	color: #fff;
}

.btn:hover {
	color: rgb(3, 122, 93);
}

#sub {
	font-size: 25;
	background-color: #e2ebe6;
	padding-left: 5px;
	height: 30px;
	bgcolor: #FCFCFC;
	background-color: #e2ebe6;
}

.ar {
	border-bottom: 1px solid rgb(167, 167, 167);
	text-align: right;
	padding-right: 5px;
	valign: bottom
}

.trd {
	margin-left: auto;
	margin-right: auto;
	font-family: "GmarketSansMedium";
	*border-collapse: collapse;
	border-spacing: 0;
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
	font-family: "GmarketSansMedium";
}

.trd td, .trd th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}

.trd td:first-child {
	border-left: none;
}

.trd tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.trd tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

table {
	width: 700px;
	height: 500;
	table-layout: fixed;
	word-break: break-all;
}

.line {
	border-bottom: 2px solid #bdbdbd;
}

.nline {
	border-bottom: 2px solid rgb(255, 255, 255);
}

.nline>td, td {
	border-right: 2px solid rgb(255, 255, 255);
	border-left: 2px solid rgb(255, 255, 255);
	border-top: 2px snow
}

#outer {
	margin-left: auto;
	margin-right: auto;
}

div.container {
	width: 90%;
	margin: 0 auto;
	padding: 2% 2%;
	text-align: center;
}

div.noticeInfo {
	margin: 2% 0;
}

div#title {
	width: 60%;
	margin: 5% 0 0 16%;
	border-top: 1px solid gray;
	padding-top: 1%;
	text-align: left;
	font-weight: bold;
}

div.register {
	display: inline-block;
	height: 70px;
	margin-top: 2%;
}

form .customHeight {
	height: 100px;
}

button.btnOK {
	position: relative;
	top: -50px;
	width: 100px;
	background-color: #4d4dff;
	color: #fff;
	border-style: none;
	cursor: pointer;
}

textarea#commentContents {
	font-size: 12pt;
}

div#viewComments {
	width: 60%;
	margin: 1% 0 0 16%;
	text-align: left;
	max-height: 300px;
	overflow: auto;
}

span.markColor {
	color: #ff0000;
}

div.customDisplay {
	display: inline-block;
	margin: 1% 3% 0 0;
}

div.commentDel {
	margin-bottom: 2%;
	font-size: 8pt;
	font-style: italic;
	cursor: pointer;
}

#frmSearch {
	align-content : center;
	    text-align: center;
}
#pagen{
	align-content : center;
	    text-align: center;
}