@charset "UTF-8";

/*  메인페이지 */
body{
	text-align: center;
}
section {
	text-align: center;
	font-weight: bold;
	font-size: 30pt;
	color: gray;
	font-style: italic;
}

.CModBg {
	display : none;
	width : 100%;
	height : 80%;
	position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}

.CMod {
	width : 70%;
	height : 80%;
	margin : auto;
	border : 1px solid gray;
	position: relative;
	text-align : center;
	
}

#close3 {
    color: #81b1a6;
    right: 10;
    margin: 0 16% 0 0;
    z-index: 999;
    position: fixed;
}

#close3:hover{
	cursor:pointer;
}

.subject {
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
    color: gray;
    margin: 2%;
    padding: 15px;
}

.modModalT {
	width : 100%;
	height : 40%;
	text-align : center;
}


.cmodText {
    width: 80%;
    height: 50%;
    left: 10%;
    position: absolute;
    top: 20%;
    border : 1px solid gray;
}

.modMoalTd {
	width : 100%;
	height: 100%;
}

.modMoalTdR {
    position: absolute;
    background-color: white;
    top: 80%;
    left: 40%;
}

#btnCModWrite {
	display : block;
	border : none;
	text-align : center;
	margin : auto;
	background: #d4eae4;
	color: #4a4a4a;
	width : 200px;
	height : 50px;
	font: inherit;
	border-radius: 12px;
	box-shadow: 5px 5px 5px #f7f7f7;
	
}

#btnCModWrite:hover {
	cursor:pointer;
}
table {
	/* border-collapse: collapse; */
	width: 800px;
	border: solid 1px #ddd;
}

.tablediv{
	text-align : center;
	display:inline-block;
}


th, td {
	text-align: left;
	padding: 8px;
}

.sub{
	background-color:white;
	
}
tr:nth-child(even) {
	background-color: #f2f2f2
}

.write {
	width : 670px;
}

.textarea1, .textarea2 {
	resize: none;
}


th {
	background-color: #eee;
	color: rgb(124, 124, 124);
}

#center {
	display: block;
	text-align: center;
	padding: 5px 100px 5px 100px;
}

#bcontent {
	width: 500px;
	height: 100px;
	font-size: 20px;
}
/* 버튼속성  */
#btnchange {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -4px;
	width: 100px;
	height: 50px;
	font-size: 20px;
	font: inherit;
}

#listbtn {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -3px;
	width: 100px;
	height: 50px;
	font-size: 20px;
	font: inherit;
}



#submit {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -3px;
	width: 100px;
	height: 50px;
	font-size: 20px;
	font: inherit;
}

#reset {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -3px;
	width: 100px;
	height: 50px;
	font-size: 20px;
	font: inherit;
}

#btn_group button {
	border: 1px solid #E2E2E2;
	background-color: rgba(0, 0, 0, 0);
	color: #404040;
	padding: 5px;
}

#btn_group button:hover {
	color: #404040;
	background-color: #E2E2E2;
}

#btn_group {
	float: right;
}

#btnAInsert {
	margin-top: -70px;
	text-align: center;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color: #f9f9f9;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: 'GmarketSansMedium';
    font-size:15px; */
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

#btnAInsert:hover {
	background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color: #e9e9e9;
}

#btnAInsert:active {
	position: relative;
	top: 1px;
}
	
}
